################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vscode/
bin/
obj/
site/.vs/
site/BPCM_Web/.vs/
site/BPCM_Web/bin/
site/BPCM_Web/obj/

sql/obj/
sql/bin/
sql/.vs/

sql/Crud.dbmdl
sql/CrudDB.jfm

/CrudConfigurationDB/obj/Debug
/sql/CrudConfigurationDB.dbmdl
/sql/CrudConfigurationDB.jfm

node_modules/
